/* start splash screen styles */
.landing-page {
  width: 100%;
  height: 100vh;
  background: #000000;
}
.landing-page::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("../images/ecommerce.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  opacity: 0.3;
  animation: anim 600ms ease-in;
}
.page-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 100%;
  max-width: 800px;
  text-align: center;
  padding: 0 40px;
  box-sizing: border-box;
  direction: rtl;
}
.page-content .title-landing {
  color: #a4b0be;
  padding: 10px;
  direction: rtl;
  animation-name: second-anim;
  animation-duration: 800ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 600ms;
  opacity: 0;
}
.page-content .text-landing {
  color: #dfe6e9;
  direction: rtl;
  margin-bottom: 20px;
  animation-name: second-anim;
  animation-duration: 800ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 600ms;
  opacity: 0;
}
.page-content .link-landing {
  background: none;
  border: 2px solid #dfe6e9;
  border-radius: 12px;
  text-transform: capitalize;
  padding: 6px 20px;
  min-width: 200px;
  margin: 10px;
  cursor: pointer;
  transition: color 0.4s linear;
  position: relative;
  text-decoration: none;
  animation-name: second-anim;
  animation-duration: 800ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 600ms;
  opacity: 0;
  color: #ecf0f1;
}
.page-content a:hover,
.card-link:hover {
  color: #2d3436;
  text-decoration: none;
}
.page-content a::before,
.card-link::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #dfe6e9;
  border-radius: 6px;
  z-index: -1;
  transition: transform 0.5s;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
  transform: scaleX(0);
}
.page-content a:hover::before,
.card-link:hover::before {
  transform: scaleX(1);
}
@keyframes anim {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
}
.icon {
  margin-left: 10px;
}
@keyframes second-anim {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  90% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/*end splash screen styles */

/*start authentication styles*/

.input-section,
.title-section {
  text-align: center;
}
.image-section {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.container,
.stores {
  margin-top: 60px;
  width: 450px;
  padding-bottom: 15px;
}
.subtitle-section .subtitle {
  text-align: center;
}
.link-section {
  padding: 20px;
}
.link-section .link-text {
  font-size: 24px;
}
.button-section .btn-link {
  text-decoration: none;
  margin-bottom: 25px;
  margin-top: auto;
}
.button-section .btn-link:hover {
  color: #f1f2f6;
}
/* end login page */
.link,
.copyright-link {
  text-decoration: none;
}
.about-us-text,
.copyright {
  font-size: 20px;
  direction: rtl;
}
.text-capitalize {
  font-size: 28px;
  color: #2c3e50;
}
.autocomplete-section {
  background-color: #2c3a47;
}
.navbar-nav-scroll {
  --bs-scroll-height: 200px;
  direction: rtl;
}
.navbar-collapse {
  direction: rtl;
}
.name {
  text-align: center;
}
.navbar {
  direction: rtl;
}
.navbar,
.dropdown-menu {
  background-color: #2c3a47;
}
.navbar-nav .nav-item .nav-link {
  color: #ffffff;
}
.navbar-nav .nav-item .nav-link:hover {
  color: #ffffff;
}
v .form-control .list-auto {
  background-color: #2c3a47;
}
.form {
  width: 360px;
}
/* start stores page styles */
.page-title .stores {
  display: flex;
  justify-content: center;
}
.search-bar {
  margin: 10px;
  text-align: start;
  direction: rtl;
}
.fa-search {
  margin-right: 352px;
}
.btn-outline-success {
  margin-left: 18rem;
  height: 100%;
}
.dropdown-menu .dropdown-item {
  color: #ffffff;
}
.dropdown-menu .dropdown-item:hover {
  color: #000000;
  transition: 0.3s;
}
.icon {
  margin-right: 5px;
}
.auto-complete-form {
  position: relative;
  width: 20rem;
  height: 3rem;
}
.auto-complete-form .auto-form-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px soild #000000;
  border-radius: 0.4rem;
  font-size: 15px;
  color: white;
  outline: none;
  padding: 1.5rem;
  background: none;
}
.auto-complete-form .auto-form-input:hover {
  border-color: #ecf0f1;
}
.auto-complete-form .auto-form-input:focus {
  border-color: #ecf0f1;
}
.auto-complete-form .auto-form-label {
  position: relative;
  direction: rtl;
  float: right;
  right: 1rem;
  top: 0.9rem;
  padding: 0 0.5rem;
  color: white;
  cursor: text;
  transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
  background-color: #2c3a47;
}
.auto-form-input:focus ~ .auto-form-label,
.auto-form-input:not(:placeholder-shown).auto-form-input:not(:focus)
  ~ .auto-form-label {
  top: -0.5rem;
  font-size: 0.8rem;
  right: 0.8rem;
}
/* start baseinput style */
.auto-input-section {
  position: relative;
  width: 25rem;
  height: 3rem;
  margin-left: 25px;
  margin-top: 12px;
}
.auto-input-section .auto-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px soild #000000;
  border-radius: 0.4rem;
  font-size: 15px;
  color: black;
  outline: none;
  padding: 1.5rem;
  background: none;
}
.auto-input-section .auto-input:hover {
  border-color: #ecf0f1;
}
.auto-input-section .auto-input:focus {
  border-color: #ecf0f1;
}
.auto-input-section .auto-label {
  position: relative;
  left: 9rem;
  top: 0.9rem;
  padding: 0 0.5rem;
  color: black;
  cursor: text;
  transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
  background-color: #ffffff;
}
.auto-input:focus ~ .auto-label,
.auto-input:not(:placeholder-shown).auto-input:not(:focus) ~ .auto-label {
  top: -0.5rem;
  font-size: 0.8rem;
  left: 9rem;
}
/*end authentication styles*/

/* start main page styles */
.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.modal-body {
  height: 300px;
}
.container .carousel-title {
  color: #ffffff;
  margin: 0 0 5px;
  opacity: 0;
}

.container .carousel-text {
  font-size: 20px;
  color: #eeeeee;
  padding: 10px;
  margin: 0;
  opacity: 0;
}
.container .carousel-link {
  opacity: 0;
}
.carousel-item.active .container .carousel-title {
  opacity: 0;
  animation: fadeInLeft 2s ease forwards;
}
.carousel-item.active .container .carousel-text,
.carousel-item.active .container .carousel-link {
  opacity: 0;
  animation: fadeInRight 2s ease forwards;
}

.fas {
  font-size: x-large;
  color: black;
}

.avatar-root,
.card {
  display: flex;
  justify-content: center;
}
.base-card .c-title {
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}
.container-for-companies {
  padding: 120px;
}
.carousel-control-prev {
  padding-right: 20px;
}
.carousel-control-next {
  padding-left: 20px;
}
.carousels-section {
  background-color: #dfe6e9;
  padding: 10px;
}
.application {
  background-color: #b2bec7;
}
.stores-home-page {
  text-align: center;
}
.stores-home-page .see-all-link {
  text-decoration: none;
}
.fa-tags {
  font-size: 15px;
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
.search-bar {
  margin: 10px;
  text-align: end;
}
.application {
  background-color: #dfe6e9;
}
.page-title .stores {
  font-size: 30px;
  font-weight: 700;
}
.grid-of-stores-container {
  padding: 20px;
  justify-content: center;
  direction: rtl;
}
.grid-of-stores-container .row {
  margin-top: 50px;
}
.options-section {
  text-align: right;
}
.options-section .title {
  text-decoration: none;
  font-size: 20px;
  text-align: center;
  display: inline-block;
  color: #2d3436;
}
.options-section .title::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #2d3436;
  transition: width 0.3s;
}
.options-section .title:hover::after {
  width: 100%;
  transition: width 0.3s;
}
/* end main page styles */
@media (max-width: 576px) {
  .grid-of-stores-container {
    padding-left: 10px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
  }
  .container-for-cards {
    padding-left: 85px;
  }
  .stores-container,
  .account-page-container,
  .profile-container,
  .reviews-container,
  .favorites-container,
  .prev-products-container,
  .alarm-container,
  .list-section,
  .table-section,
  .grid-of-card-dashboard {
    padding: 10px;
  }
}
@media (min-width: 576px) {
  .grid-of-stores-container {
    padding-left: 10px;
    padding-right: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
  }
  .container-for-cards {
    padding-left: 130px;
  }
  .stores-container,
  .account-page-container,
  .profile-container,
  .reviews-container,
  .favorites-container,
  .prev-products-container,
  .alarm-container,
  .list-section,
  .table-section,
  .grid-of-card-dashboard {
    padding: 15px;
  }
}
@media (min-width: 768px) {
  .grid-of-stores-container {
    padding-left: 10px;
    padding-right: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
  }
  .container-for-cards {
    padding-left: 90px;
  }
  .stores-container,
  .account-page-container,
  .profile-container,
  .reviews-container,
  .favorites-container,
  .prev-products-container,
  .alarm-container,
  .list-section,
  .table-section,
  .grid-of-card-dashboard {
    padding: 18px;
  }
}
@media (min-width: 992px) {
  .grid-of-stores-container {
    padding-left: 10px;
    padding-right: 110px;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
  }
  .container-for-cards {
    padding-left: 200px;
  }
  .stores-container,
  .account-page-container,
  .profile-container,
  .reviews-container,
  .favorites-container,
  .prev-products-container,
  .alarm-container,
  .list-section,
  .table-section,
  .grid-of-card-dashboard {
    padding: 22px;
  }
}
@media (min-width: 1200px) {
  .grid-of-stores-container {
    padding-left: 10px;
    padding-right: 140px;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
  }
  .container-for-cards {
    display: flex;
    align-items: center;
    padding-left: 90px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .alarm-container , .favorites-container {
    display: flex;
    align-items: center;
    padding-right: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .stores-container,
  .account-page-container,
  .profile-container,
  .reviews-container,
  .prev-products-container,
  .list-section,
  .table-section,
  .grid-of-card-dashboard {
    padding: 25px;
  }
}
.carousel-of-companies-section {
  padding: 20px;
}
.carousel-of-main-page-section,
.video-category-section,
.tv-carousels-section,
.mobile-carousels-section,
.laptop-carousels-section,
.camera-carousels-section,
.audio-carousels-section {
  padding: 20px;
}
/* end stores page styles */

/* start base card styles */
.base-card {
  width: 20rem;
  height: 30rem;
  display: "flex";
  text-align: "center";
  padding: 500;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 50px;
}
.card-img-top {
  opacity: 1;
  display: block;
}
.card-body {
  margin-left: auto;
}
.first-card-text {
  color: #444444;
}
.first-card-text .small-text {
  margin-left: 45px;
}
.card-title {
  float: left;
  color: #0077ab;
  font-size: 18px;
  font-weight: 900;
  margin-left: 35px;
}
.second-card-text {
  color: #888888;
  float: left;
  font-size: 16px;
  height: 20px;
  overflow: hidden;
  margin-left: 65px;
}
/*end base card styles*/

/* start divider styles */

.divider-and-title-section {
  padding: 50px;
}
.divider-and-title-section .lines {
  width: 100%;
  height: 45px;
  position: relative;
}
.divider-and-title-section .lines::before,
.divider-and-title-section .lines::after {
  content: "";
  position: absolute;
  margin: auto;
  height: 2px;
  background: #ffffff;
  width: 40%;
  top: 45%;
}
.divider-and-title-section .lines::after {
  left: 0;
}
.divider-and-title-section .lines::before {
  right: 0;
}
.divider-and-title-section .lines .text {
  height: 40px;
  width: 50px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
@media (max-width: 768px) {
  .divider-and-title-section .lines .text {
    font-size: 12px;
    padding-left: 5px;
  }
}
/* end divider styles */

/*start footer styles*/
.link,
.copyright-link {
  text-decoration: none;
}
.icon {
  font-size: 20px;
}
.copyright .copyright-link {
  margin-left: 5px;
}
.text-capitalize {
  color: #2c3e50;
}
.footer-container {
  direction: rtl;
}
/*end footer styles*/

/* start details page styles */
.filter-section {
  display: flex;
  justify-content: center;
  text-align: center;
  direction: rtl;
}
.offers-details {
  padding-top: 10px;
  padding-left: 10px;
}
.offers {
  padding-top: 10px;
}
.name-and-rating,
.price-container,
.description-section,
.videos-section,
.chart-section,
.card-price-section,
.tabs-section,
.rated-container,
.product-type-section,
.card-offer-section,
.account-page-container {
  direction: rtl;
}
/* end details page styles */

/*start spinner styles*/
.spinner-section {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.sale-price {
  text-decoration: line-through;
}
/*end spinner styles*/

/*start base cards horizontal style*/
.horizontal-container {
  height: 100%;
  padding: 40px;
  margin: 40px;
}

.horizontal-card {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
}

#shopping {
  position: absolute;
  top: 0px;
  right: 0px;
}

#shopping i {
  font-size: 20px;
}

#shopping sup {
  margin-left: 4px;
}

.images h2 {
  margin-bottom: 25px;
}

.infos h1 {
  display: none;
}
.imgs {
  cursor: pointer;
}

.infos .price {
  display: flex;
  justify-content: start;
}
.infos .price h3:last-child {
  margin-left: 20px;
}

.infos #more-infos {
  display: flex;
  justify-content: space-between;
  color: gray;
}

#more-infos h5 {
  padding: 8px;
}
#more-infos h5:nth-child(1) {
  color: black;
  border-bottom: 2px solid black;
  padding-bottom: 6px;
}

.infos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
  margin-top: 30px;
  width: 90%;
}

.reviews {
  color: gold;
}

h3:nth-child(2) {
  color: gray;
  text-decoration: line-through;
}

.choose {
  cursor: pointer;
}

.quantity {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.quantity input {
  text-align: center;
  width: 40px;
}

#info-content {
  font-size: 12px;
  height: 70px;
}

.buttons {
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}

.buttons button {
  margin: 10px;
  width: 180px;
  padding: 5px;
  font: inherit;
  border: 2px solid #70b943;
  border-radius: 25px;
  background-color: #70b943;
  outline: none;
  cursor: pointer;
}

.buttons button:nth-child(1) i {
  margin-right: 10px;
}

.buttons button:hover {
  color: white;
}

.slider {
  height: 80%;
  display: flex;
  align-items: center;
}

.slider img {
  width: 90%;
  margin: auto;
}

.img-slider {
  width: 70%;
  display: flex;
  height: 40px;
  justify-content: space-between;
  margin: auto;
  margin-top: 15px;
}

.img-slider div {
  width: 20%;
  height: 100%;
}

.img-slider img {
  height: 100%;
}

@media (min-width: 1025px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .horizontal-container {
    background-color: #ecf0f1;
    width: 75%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
  }

  .horizontal-card {
    flex-direction: row;
    height: 85%;
    width: 80%;
    border-radius: 15px;
  }

  .images {
    width: 50%;
    height: 100%;
  }

  .images h2 {
    display: none;
  }

  .infos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 0px;
    height: 80%;
    width: 50%;
    font-size: 20px;
    padding-right: 70px;
  }

  .infos h1 {
    display: block;
  }

  .buttons {
    flex-direction: row;
    font-size: 15px;
  }
  .buttons button {
    padding: 8px;
  }

  .img-slider {
    width: 50%;
  }

  #shopping {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  #shopping i {
    font-size: 30px;
  }
}

@media (min-width: 670px) {
  .horizontal-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .buttons {
    flex-direction: row;
    font-size: 15px;
  }

  .horizontal-card {
    width: 75%;
    height: 100%;
  }

  #shopping i {
    font-size: 30px;
  }
}
/*end base cards horizontal style*/

/*start profile nav style*/
.profile-container {
  left: 50%;
  top: 50%;
  transform: translate(0, 0);
  text-align: center;
}
/*end profile nav style*/

/*start card dashboard style */
.card-dashboard {
  max-width: 18rem;
}
.btn-delete-dashboard {
  margin-left: 10px;
  margin-right: 10px;
}
.card-dashboard-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}
/*end card dashboard style */

/*start list style*/
.list-group-item .list-span {
  color: #000000;
}
.btn-card {
  display: flex;
  justify-content: center;
}

/*end list style*/

/* start pagination style */
.pagination-section {
  display: flex;
  justify-content: center;
  padding: 50px;
}
.rated-container .most-recommended-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.name .link-name {
  text-decoration: none;
  color: #000000;
}
.carousel-of-cards {
  padding: 50px;
}
.carousel-of-card {
  margin-top: 500px;
}
.carousel-of-recently-added {
  margin-top: 500px;
}
.BootstrapMulti .slick-arrow.slick-prev,
.BootstrapMulti .slick-arrow.slick-next {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  border-radius: 5px;
}
.slick-prev::before,
.slick-next::before {
  display: none;
}
.BootstrapMulti .slick-arrow.slick-prev {
  left: -50px;
}
.BootstrapMulti .slick-arrow.slick-next {
  right: -50px;
}
button {
  outline: none;
  border: none;
  color: #7ac400;
  background: white;
  border-radius: 20px;
  border: 1px solid #7ac400;
  font-size: 11px;
  font-weight: 500;
  padding: 7px 14px;
  margin: 10px 0;
  text-transform: uppercase;
}
.BootstrapMulti .slick-dots li button:before {
  font-size: 15px;
}
.new-card {
  text-align: center;
  margin: 20;
  padding: 0 10px;
  width: 230px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
  border-radius: 5;
  align-self: auto;
  height: calc(130vh / 1.6);
}
.new-card .card-image {
  width: 100%;
  height: 250px;
  object-fit: contain;
  margin-bottom: 10px;
}
.new-card .card-text {
  padding: 5px 0;
  color: gray;
}
.new-card .btn-card {
  margin-top: auto;
}
.dropdown-section {
  display: flex;
  justify-content: center;
}
.go-section {
  padding-top: 25px;
  padding-right: 50px;
}
.login-button  , .signup-button{
  padding-top: 20px;
}
/* end pagiation style */
