
/* start splash screen styles */
.landing-page {
  width: 100%;
  height: 100vh;
  background: #000000;
}
.landing-page::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("../images/ecommerce.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  opacity: 0.3;
  animation: anim 600ms ease-in;
}
.page-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 100%;
  max-width: 800px;
  text-align: center;
  padding: 0 40px;
  box-sizing: border-box;
}
.page-content .title-landing {
  color: #a4b0be;
  animation-name: second-anim;
  animation-duration: 800ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 600ms;
  opacity: 0;
}
.page-content .text-landing {
  color: #dfe6e9;
  margin-bottom: 20px;
  animation-name: second-anim;
  animation-duration: 800ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 600ms;
  opacity: 0;
}
.page-content .link-landing {
  background: none;
  border: 2px solid #dfe6e9;
  border-radius: 12px;
  text-transform: capitalize;
  padding: 6px 20px;
  min-width: 200px;
  margin: 10px;
  cursor: pointer;
  transition: color 0.4s linear;
  position: relative;
  text-decoration: none;
  animation-name: second-anim;
  animation-duration: 800ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 600ms; 
  opacity: 0;
  color: #ecf0f1;
}
.page-content a:hover,
.card-link:hover {
  color: #2d3436;
  text-decoration: none;
}
.page-content a::before,
.card-link::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #dfe6e9;
  border-radius: 6px;
  z-index: -1;
  transition: transform 0.5s;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
  transform: scaleX(0);
}
.page-content a:hover::before,
.card-link:hover::before {
  transform: scaleX(1);
}
@keyframes anim {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
}
.icon {
  margin-right: 10px;
}
@keyframes second-anim {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  90% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/*end splash screen styles */


/* start main page styles */ 
.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.container .carousel-title {
  font-size: 60px;
  color: #ffffff;
  margin: 0 0 10px;
  opacity: 0;
}

.container .carousel-text {
  font-size: 20px;
  color: #eeeeee;
  margin: 0;
  opacity: 0;
}
.container .carousel-link{
  opacity: 0;
}
.carousel-item.active .container .carousel-title {
  opacity: 0;
  animation: fadeInLeft 2s ease forwards;
}
.carousel-item.active .container .carousel-text,
.carousel-item.active .container .carousel-link {
  opacity: 0;
  animation: fadeInRight 2s ease forwards;
}

.fas {
  font-size: x-large;
  color: black;
}

.btn {
  border-radius: 20px;
}

.avatar-root {
  display: flex;
}
.container-for-companies {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.name {
  font-family: "Baloo 2";
  font-size: 10px;
}
.carousels-section {
    background-color: #dfe6e9;
    padding: 10px;
}
.application{
    background-color: #b2bec7;
}
.stores-home-page{
    text-align: center;
}
.stores-home-page .see-all-link{
    text-decoration: none;
}
.fa-tags{
    font-size: 15px;
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
.search-bar{
    margin: 10px;
    font-family: "Baloo 2";
    text-align: end;
}
.application{
    background-color: #dfe6e9;
}
.page-title .stores{
    font-family: "Baloo 2";
    font-size: 30px;
    font-weight: 700;
}
.grid-of-stores-container{
    padding: 20px;
    justify-content: center;
}
.grid-of-stores-container .row{
    margin-top: 50px;
}
.options-section{
    text-align: left;
}
.options-section .title{
    text-decoration: none;
    font-family: "Baloo 2";
    font-size: 20px;
    text-align: center;
    display: inline-block;
    color: #2d3436;
}
.options-section .title::after{
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #2d3436;
    transition: width .3s;
}
.options-section .title:hover::after{
    width: 100%;
    transition: width .3s;
}
/* end main page styles */ 